* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle at 50% 10%, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    font-family: 'Barlow Semi Condensed', sans-serif;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    width: 700px;
    height: 150px;
    border-radius: 15px;
    border: 3px solid #606E85;
    align-items: center;
    margin-top: 50px;
}

.score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 120px;
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
    margin-right: 30px;
}

.title {
    margin-left: 30px;
}

.score h1 {
    color: #3B4363;
    font-size: 56px;
    font-family: "Barlow", sans-serif;
}

.score p {
    color: #2A46C0;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
}

.chooseLevel {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chooseLevel div {
    margin: 15px 0px;
}

.chooseLevel H1 {
    color: white;
    font-family: "Barlow", sans-serif;
}

.hands {
    background-image: url("./assets/bg-triangle.svg");
    background-position: center;
    background-repeat: no-repeat;
    visibility: visible;
    opacity: 1;
    position: relative;
    width: 476px;
    height: 430px;
    margin-top: 100px;
    display: none;
    z-index: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.fivehands {
    background-image: url("./assets/bg-pentagon.svg");
    background-position: center;
    background-repeat: no-repeat;
    visibility: visible;
    opacity: 1;
    position: relative;
    width: 640px;
    height: 430px;
    margin-top: 100px;
    display: none;
    z-index: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.fivehands button {
    cursor: pointer;
    transition: all 0.25s;
}

.fivehands button:hover {
    transform: translate3d(0px, -8px, 0px);
}

.hands img {
    width: 60px;
}

.circle {
    border: none;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    opacity: 1;
}

.paper {
    background: linear-gradient(to bottom, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    box-shadow: inset 0 -7px rgba(0, 0, 0, 0.15);
}

.right {
    margin-right: 20px;
}

.left {
    margin-left: 20px;
}

.scissors {
    background: linear-gradient(to bottom, hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    box-shadow: inset 0 -7px rgba(0, 0, 0, 0.15);
}

.scissors-margin {
    margin-top: -70px;
}

.paper-spock-margin {
    margin-top: 50px;
}

.rock {
    background: linear-gradient(to bottom, hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    box-shadow: inset 0 -7px rgba(0, 0, 0, 0.15);
}

.lizard {
    background: linear-gradient(to bottom, hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    box-shadow: inset 0 -7px rgba(0, 0, 0, 0.15);
}

.lizard-rock-margin {
    margin: 40px 20px 0px 20px;
}

.spock {
    background: linear-gradient(to bottom, hsl(189, 59%, 53%), hsl(189, 58%, 57%));
    box-shadow: inset 0 -7px rgba(0, 0, 0, 0.15);
}

.hands-bg {
    width: 150px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0.911);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: inset 0 7px rgba(0, 0, 0, 0.15);
}

.hands button {
    cursor: pointer;
    transition: all 0.25s;
}

.hands button:hover {
    transform: translate3d(0px, -8px, 0px);
}

.picked {
    display: none;
    margin-top: 50px;
    width: 900px;
    justify-content: space-between;
}

.picked h1 {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.result {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

.result h1 {
    font-size: 45px;
    animation: shake 2s cubic-bezier(.40, .20, .20, .100) both;
    transform: translate3d(0, 0, 0);
}

@keyframes shake {

    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}

.userPickedImage {
    border: none;
    background: linear-gradient(to bottom, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: inset 0 -7px rgba(0, 0, 0, 0.15);
}

.computerPickImage {
    border: none;
    background: linear-gradient(to bottom, hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: inset 0 -7px rgba(0, 0, 0, 0.15);
}

.button {
    color: #2A46C0;
    background-color: white;
    padding: 12px 50px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.15s;
    text-align: center;
    font-size: 20px;
    font-family: "Barlow", sans-serif;
}

.button:hover {
    color: hsl(349, 70%, 56%);
}

#userpickedCircle {
    margin: 0;
}

.rules {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 50px;
    border-radius: 8px;
    border: 2px solid #606E85;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
}

.rules p {
    color: #606E85;
}

.rules-card {
    display: none;
    padding: 20px;
    position: relative;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    justify-content: center;
    width: 350px;
    height: 350px;
    border-radius: 8px;
    border: 2px solid #606E85;
    position: fixed;
    top: 30%;
}

.rules-card h2 {
    color: #606E85;
}

.rules-card .rules-header {
    display: flex;
    justify-content: space-between;
}

.rule-img {
    padding: 20px;
}

.close {
    cursor: pointer;
}

.user,
.computer,
.result {
    display: none;
}

.item {
    animation: fade_in_show 0.5s
}

.item-two {
    animation: fade_in_show 1s
}

.item-three {
    animation: fade_in_show 3s
}

@keyframes fade_in_show {
    0% {
        opacity: 0;
        transform: scale(0)
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}